body{
    background-color: rgb(224, 224, 224);
}
.container-principal{
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;
    margin: 20% auto;
    background-color: rgb(202, 202, 202);
    font-family: 'Inder', sans-serif;
    font-size: 100%;
}
img {
    position: relative;
    top: 10%;
    left: 230%;
    height: 30%;
}
#cantidad-dinero {
    
    position: absolute;
    top: 45%;
    left: 6%;
    width: 435px;
    height: 19px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid rgba(90, 106, 246, 0.383);
    background-color: rgb(200, 200, 200);

}
#elige-moneda1{
    position: absolute;
    top: 65%;
    left: 7%;
    width: 130px;
    border: 1px solid rgba(90, 106, 246, 0.383);
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    background-color: rgb(200, 200, 200);


}
#elige-moneda2{
    position: absolute;
    top: 65%;
    left: 35%;
    width: 130px;
    border: 1px solid rgba(90, 106, 246, 0.383);
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    background-color: rgb(200, 200, 200);


}
#convertir{
    position: absolute;
    top: 65%;
    left: 67%;
    width: 130px;
    border: 1px solid rgba(90, 106, 246, 0.383);
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    background-color: yellowgreen;


}

